* {
    font-family: 'Poppins', sans-serif;
}

.Bgblack {
    background-color: #262626;
}
.text-light {
    color: #e5e5e5;
}
.text-dark {
    color: #262626;
}


@media only screen and (max-width: 600px) {
    body {
      padding-left: 12px;
    }
  }